#root {
  margin: 0 auto;
   background: linear-gradient(123deg, #A4BF69, #43a6b5);
  text-align: center;
}
.card {
  padding: 2em;
  
}

main {
  padding-top: 80px; /* dopasuj do wysokości navbara */
}
